.imageContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.columnView {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: center;
}

/*
.gridLeftView { 

}

.gridRightView { 

}

.rowView {

}

/*
  flex-wrap: wrap;
  align-items: center;

*/
